body {
    background: #64B6AC no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.heading {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 3vw;
}

.hindi{
    font-family: 'Sarpanch', sans-serif;
    font-size: 5vw;
    margin-right: 2vw;
    color: #0F1108;
}

.english{
    font-family: 'Pacifico', cursive;
    font-size: 5vw; 
    color: #DAFFEF;
}

header hr{
    width: 50vw;
    border: solid 4px;
    border-radius: 4px;
    color: #DAFFEF;
    margin-top: 4px;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-media-img img{
    height: 3vw;
    width: 3vw;
    margin-right: 1vw;
}


.container-main{
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
    padding: 1.5vw;
    border-radius: 0.5vw;
    background: white;
    width: 80vw;
}

.main-heading{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3vw;
    color: #64B6AC;
}

.container-main .card-heading{
    margin-top: 3vw;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 2.5vw;
    color: #64B6AC;
}

.main-paragraph {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4vw;
    color: #0F1108;
}

.introduction-card {
    display: flex;
    justify-content: space-around;
}

.introduction-card .card{
    text-align: center;
    border-color: white;
    border-radius: 2vw;
    background: #64B6AC;
    font-size: 3rem;
    font-family: "Raleway";
    font-size: 1.5vw;
    font-weight: bold;
    margin: 1vw;
}

.introduction-card img{
    height: 5vw;
    width: 5vw;
    margin-bottom: 1vw;
}

.projects{
    padding: 2vw 3vw 0vw 3vw;
}

.projects img{
    width: 50vw;
    height: 30vw;
    border-radius: 2vw;
    margin: 3vw auto;
}

.projects h5, .projects p{
    font-family: "Raleway";
    font-weight: bold;
    color: #0F1108;
    width: 40vw;
    margin-left: auto;
    margin-right:auto;
    background: #64B6AC;
    padding-top: 0.3vw;
}

.projects p{
    margin-top: 0;
}

.projects h5{
    margin-bottom: 0;
}

.description-cards{
    display: flex;
    justify-content: space-around;
}

.description-cards .card{
    margin: 2vw 1vw;
    border: white;
    background-color: #64B6AC;
    border-radius: 2vw;
}

.team img {
    height: 12vw;
    width: 12vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    border-radius: 2vw;
}

.team h5{
    font-family: "Pacifico";
    font-size: 3vw
}

.team p{
    font-family: "Raleway";
    font-size: 1.2vw;
    height: 5vw
}

.btn-primary{
    border-radius:1vw;
    font-family: "Raleway";
    background-color: #DAFFEF;
    color: #0F1108;
    border-color: transparent;
}

.btn-primary:hover{
    background-color: #64B6AC;
    color: #DAFFEF;
    border-color: transparent;
}


